#tabs{
    margin-top:10px;
    position:relative;
}

.ui-tabs{
    
} /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */

.ui-tabs .ui-tabs-nav {
    position: absolute;
    left:0;
    top:0;
}

.ui-tabs .ui-tabs-nav li {
    width:229px;
    background-color:#DCDCDC;
    border-bottom:1px solid white;
    border-right:1px solid white;
    padding: 10px;
    
}

.ui-tabs .ui-tabs-nav li a {
    
    
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    width:230px;
}

.ui-tabs-panel{
    padding:10px;
    position:absolute;
    left:250px;
    top:0px;
    background-color:#DCDCDC;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor: pointer;
} /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

.ui-tabs .ui-tabs-panel {
    
    
    
    
}

.ui-tabs .ui-tabs-hide {
    display: none !important;
}