#tabs{
    margin-top:10px;
    position:relative;
}

.ui-tabs .ui-tabs-nav {
    position: absolute;
    left:0;
    top:0;
}

.ui-tabs .ui-tabs-nav li {
    width:200px;
    padding: 10px;
    
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    width:200px;
    background-color:#DCDCDC;
}

.ui-tabs-panel{
    padding:10px 20px 20px 10px;
    margin-left:220px;
    background-color:#DCDCDC;
}

.ui-tabs .ui-tabs-hide {
    display: none !important;
}